<div class="formlayout">
	<table class="creditCard">
		<tr>
			<td colspan="4"> <h4>Fill in your payment details</h3></td>
		</tr>
		<tr>
			<td location="ccselect" colspan="4"></td>
		</tr>
		<tr>
			<td location="ccnr1"></td>
			<td location="ccnr2"></td>
			<td location="ccnr3"></td>
			<td location="ccnr4"></td>
		</tr>
	</table>

	<table class="creditCardExp">
		<tr>
			<td> <h3>Expires </h3></td>
			<td align="right" location="month"></td> 
			<td> <h3>/</h3> </td>
			<td align="left" location="year"></td>
			<td align="right"> <h3 class="csv">CSV</h3> </td>
			<td align="right" location="csv"></td>
		</tr>
	</table>

	<table class="creditCardPersonDetails">
		<tr>
			<td location="fname"></td>
			<td location="lname"></td>
		</tr>
		<tr>
			<td location="holdername" colspan="2"></td>
		</tr>
		
	</table>
		
	<table class="creditCardAddress">
		<tr>
			<td location="street" colspan="3"></td>
		</tr>
		<tr>
			<td><div location="city"></div></td>
			<td><div location="state"></div></td>
			<td><div location="zip"></div></td>
		</tr>
	</table>	
</div>